{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "edge": "17",
                    "firefox": "60",
                    "chrome": "67",
                    "safari": "11.1"
                },
                "useBuiltIns": "usage",
				"corejs": "3.6.5"
            }
        ]
    ],
    "plugins": [
        "@babel/syntax-object-rest-spread",
        "@babel/transform-async-to-generator",
        "@babel/transform-runtime"
    ],
    "comments": false
}
